<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
  </head>
  <body>
    <br>
    <br>
    <br>
    <center>
        <form>
            <input class="button-primary" type="button" value="Compañía Aseguradora" onclick="window.location.href='/carrier'">
        </form>
        <form>
            <input type="button" value="Centro Médico" onclick="window.location.href='/medical'">
        </form>
    </center>
  <style media="screen">
      .h1 {
          color: blue;
      }
  </style>
</html>
