<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

	<center>
	<form action="/submit" id="textform" method="post">
		<div class="row">
			<div class="five columns">
				<h5>Centro Médico</h5>
				<input class="input_centro" type="text"
					    name="centro" placeholder="Centro Médico">
			</div>
			<div class="six columns">
				<h5>Aseguradora</h5>
				<select class="u-full-width" id="exampleRecipientInput", name="asg">
					<option value="AS1">Aseguradora 1</option>
					<option value="AS2">Aseguradora 2</option>
					<option value="AS3">Aseguradora 3</option>
				</select>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="four columns">
				<label>Número de Cédula</label>
				<input class="u-full-width" type="text" name="cedula" placeholder="Cédula">
			</div>
			<div class="eight columns">
				<label>Nombre del Médico</label>
				<input class="u-full-width" type="text" name="author" placeholder="Doctor">
			</div>
		</div>
		<div class="row">
			<div class="four columns">
				<label>Número de seguro</label>
				<input class="u-full-width" type="text" name="nua" placeholder="NUA">
			</div>
			<div class="eight columns">
				<label>Información del tratamiento</label>
				<textarea class="u-full-width" name="content" rows="4" cols="50" placeholder="Entrar información del tratamiento..."></textarea>
			</div>
		</div>
			<input class="button-primary" type="submit" type="submit" value="Enviar">
	</form>
	</center>


	<style>
		.post_box {
		    background: #fff;
		    padding: 12px 0px 0px 12px;
		    margin-top: 0px;
		    margin-bottom: 8px;
		    border-top: 1px solid #f0f0f0;
		}

		.post_box-header {
		    padding-bottom: 12px;
		}

		.post_box-avatar {
		    width: 38px;
		    height: 38px;
		    border-radius: 50%;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    color: white;
		    font-size: 22px;
		    float: left;
		    margin-right: 16px;
		    border: 1px solid #fff;
		    box-shadow: 0px 0px 0px 2px #f00;
		}

		.post_box-avatar::after {
		    content:"";
		    display:block;
		}

		.post_box-name {
		    font-weight: bold;
		}

		.post_box-subtitle {
		    color: #777;
		}

		.post_box-body {
		    margin-top: 5px;
		    margin-bottom: 5px;
		}

		.post_box-options {
		    float: right;
		}
		.option-btn {
		    background: #f8f8f8;
		    border: none;
		    color: #2c3e50;
		    padding: 7px;
		    cursor: pointer;
		    font-size: 14px;
		    margin-left: 2px;
		    margin-right: 2px;
		    outline: none;
		    height: 42px;
		}
		.input_centro{
			font-size: 20px;
		}
	</style>
    </div>
{% endblock %}
